@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body{
	font-family: "Roboto", sans-serif;
}
.alert-bar{
	width: 100%;
	height: 70px;
	display: block;
	background-color: red;
}
.alert-bar h2{
	color: white;
	text-align: center;
}
.alert-bar p{
	color: white;
	text-align: center;
}
.header-logo{
	background-color: black;
	width: 100%;
	height: 80px;
	display: block;
}
.header-logo img{
	height: 80px;
	width: 100px;
	margin-left: 20px;
}
.container .input{
	border: 0;
	outline: none;
	color: white;
}
.search_wrap{
	width:400px;
	margin-left: 800px;
	margin-top: -65px;
	background-color: white;
}
.search_wrap .search_box{
	position: relative;
    width: 200px;
    height: 40px;
}
.search_wrap .search_box .input{
	position: absolute;
	top: 0px;
	left: 5px;
	width: 100%;
	height: 40px;
    color: black;
}
.search_wrap .search_box .search_button{
	position: absolute;
	top: 0;
	left: 340px;
	width: 60px;
	height: 100%;
	z-index: 1;
	cursor: pointer;
	background-color: lightgrey;
}
.search_wrap .search_box .search_button:hover{
	background-color: grey;
}
.search_wrap .search_box .search_button .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.search_wrap .search_box .input{
	padding-right: 100px;
}
.container1 nav.desk,
.container1 nav.mob{
	width: 100%;
	background-color: #3CB371;
	height: 50px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
	position: absolute;
	top: 150px;
	left: 0px;
}
nav.desk ul{
	list-style: none;
	width: 75%;
	height: 50px;
	margin: 0 auto;
}
nav.desk ul li{
	width: 25%;
	float: left;
	text-align: center;
	line-height: 50px;
	text-transform: uppercase;
	cursor: pointer;
}
nav.desk ul li a,
nav.mob ul li a{
	color: black;
	text-decoration: none;
}
nav.desk ul li a:hover,
nav.mob ul li a:hover{
	color: white;
}
nav.mob,
.hamburger-btn{
	display: none;
}
@media screen and (max-width: 700px){
	nav.desk{
		display: none;
	}
	nav.mob,
	.hamburger-btn{
		display: block;
		z-index: 1000000;
	}
	.hamburger-btn{
		position: relative;
	}
	.hamburger-btn .fa-bars,
	.hamburger-btn .fa-times{
		position: absolute;
		right: 25px;
		top: 5px;
		font-size: 35px;
		color: black;
		cursor: pointer;
	}
	.mob ul{
		margin-top: 50px;
		background: #3CB371;
		display: none; 
	}
	.mob li{
		text-transform: uppercase;
		text-align: center;
		padding: 20px;
		cursor: pointer;
	}
	nav.mob ul li:hover{
		background-color: #a3ada5;
		margin-left: -32px;
	}
	.mob ul.active{
		display: block;
	}
	.alert-bar p{
		font-size: 12px;
	}
	.search_wrap{
	width:200px;
	margin-left: 250px;
	margin-top: -65px;
    }
    .search_wrap .search_box .search_button{
	left: 150px;
	width: 60px;
   }
}

.carousel{
	margin-top: 50px;
}
.carousel-item img{
	height: 400px;
	filter: brightness(50%);
}
.carousel-caption button{
	border: solid #fff;
	width: 150px;
	height: 50px;
	background-color: white;
	font-weight: bold;
	font-family: bold;
	margin-top: 150px;
}
.hline{
	font-weight: bold;
    color:black;
    opacity: 70%;
    margin-left: 40px;
    margin: 30px;
}
.hovereffects{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	margin-bottom: 5px;
	margin-top: 20px;
}
.hovereffects .overlay{
	width: 100%;
	height: 92%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	opacity: 0;
	background-color: rgba(0,0,0,0.5);
	-webkit-transition:all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.hovereffects img{
	display: block;
	position: relative;
	width: 100%;
	height: 300px;
	-webkit-transition: all .4s linear;
	transition: all .4s linear;
}
.hovereffects h2{
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 17px;
	background: rgba(0,0,0,0.6);
	-webkit-transform: translateY(-100px);
	-ms-transform: translateY(-100px);
	transform: translateY(-100px);
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	padding: 10px;
}
.hovereffects a.info{
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	color: black;
	font-weight: bold;
	border: 1px solid #fff;
	background-color: white;
	opacity: 10px;
	filter: alpha(opacity=0);
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	margin: 90px 0 0;
	padding: 10px 14px; 
}
.hovereffects a.info:hover{
	box-shadow: 0 0 5px #fff;
}
.hovereffects:hover img{
	width: 100%;
	height: 271px;
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.hovereffects:hover .overlay{
	opacity: 1;
	filter: alpha(opacity=100);
}
.hovereffects:hover h2, .hovereffects:hover a.info{
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hovereffects:hover a.info{
	-webkit-transition-delay: .2s;
	transition-delay: .2s;
}

.footer{
	background-color: black;
	height: 150px;
	width: 100%;
}
.footer img{
	margin: 15px;
}

.container3{
	display: inline-block;
	height: 60px;
	width: 60px;
	float: right;
	margin: 15px 200px;
	overflow: hidden;
	background: #fff;
	border-radius: 50px;
	cursor: pointer;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	transition: all 0.3s ease-out;
}
.container4{
	display: inline-block;
	height: 60px;
	width: 60px;
	float: right;
	margin: 15px -350px;
	overflow: hidden;
	background: #fff;
	border-radius: 50px;
	cursor: pointer;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	transition: all 0.3s ease-out;
}
.container5{
	display: inline-block;
	height: 60px;
	width: 60px;
	float: right;
	margin: 15px -435px;
	overflow: hidden;
	background: #fff;
	border-radius: 50px;
	cursor: pointer;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	transition: all 0.3s ease-out;
}
.wrapper .icon{
	display: inline-block;
	height: 60px;
	width: 60px;
	text-align: center;
	border-radius: 50px;
	box-sizing: border-box;
	line-height: 60px;
	transition: all 0.3s ease-out;
}
.wrapper .button1:hover .icon{
	background: #4267b2;
}
.wrapper .button2:hover .icon{
	background: #1da1f2;
}
.wrapper .button3:hover .icon{
	background: #e1306c;
}
.wrapper .icon i{
	font-size: 25px;
	line-height: 60px;
	transition: all 0.3s ease-out;
}
.hrline{
	color: white;
	height: 2px;
	margin-top: -20px;
}
.footer p{
	margin-left: 15px;
	color: #fff;
}

/*contact us page*/
.hline2{
	width: 96%;
	color: black;
	border: 2px solid black;
}
.imgC{
	width: 70%;
	display: flex;
	justify-content: left;
	align-items: left;
}
.contact2{
	width: 100%;
	position: relative;
	min-height: 100vh;
	padding: 50px 50px;
	background-size: cover;
	margin-top: 50px;
}
.contact2 .content h2{
	font-size: 36px;
	font-weight: bold;
	font-family: fantasy;
}
.contact2 .content img{
	width: 100%;
	height: 400px;
}
.container6{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container6 .contactinfo{
	width: 30%;
	display: flex;
	flex-direction: column;
	margin-left: 200px;
}
.container6 .contactinfo .box{
	position: relative;
	padding: 20px 0;
	display: flex;
}
.container6 .contactinfo .box .icon1{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container6 .contactinfo .box .text{
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: black;
	flex-direction: column;
	font-weight: bold;
}
.container6 .contactinfo .box .text h3{
	font-weight: 500px;
    color: #00bcd4;
}
.contactForm{
	width: 40%;
	padding: 40px;
	background: #fff;
}
.contactForm h2{
	font-size: 30px;
	color: #333;
	font-weight: 500;
}
.contactForm .inputBox{
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
	color: #e91e63;
	font-size: 12px;
	transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
	width: 100px;
	background: #00bcd4;
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}
@media(max-width: 991px){
	.contact{
		padding: 50px;
	}
	.imgC{
		width: 100%;
	}
	.container6{
		flex-direction: column;
	}
	.container6 .contactinfo{
		margin-bottom: 40px;
		margin-left: -250px;
	}
	.contactForm{
		width: 100%;
	}
	.carousel-caption button{
	margin-top: 150px;
	margin-left: 5px;
    }
    .carousel-control-prev{
    	margin-top: 250px;
    }
    .carousel-control-next{
    	margin-top: 250px;
    }
    /* for footer icons */
    .container3{
	margin: -95px 170px;
    }
    .container4{
	margin: -95px 100px;
    }
    .container5{
	margin: -95px 30px;
    }
    .hrline{
	margin-top: -25px;
    }
    .footer p{
    	margin-top: -10px;
    	font-size: 12px;
    }
}

/* restaurants page */
.resto{
	margin-top: -200px;
	color: white;
	font-family: fantasy;
	font-size: 100px;
	margin-left: 100px;
}
.resto1{
	width: 100%;
	height: 600px;
	background: #964B00;
}
.resto1 p{
	margin: 20px 100px 100px;
	color: #fff;
	text-align: left;
	font-weight: bold;
}
.squre1{
	position: relative;
	width: 250px;
	height: 250px;
	margin-top:-50px;
	margin-left: 300px; 
	background: transparent;
	border: 2px solid #fff;
	border-radius: 50%;
}
.squre1 p{
	color: #fff;
	font-size: 36px;
	margin: 50px 40px;
}
.icon3{
	color: #fff;
	margin-left: 110px;
	margin-top: -40px;
}
.squre2{
	width: 300px ;
	height: 400px;
	background: #fff;
	margin-top: -400px;
	margin-left: 600px;
}
.squre2 p{
	color: black;
	font-size: 20px;
	margin-top: 15px;
}

.hovereffects1{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	margin-bottom: 5px;
	margin: 10px;
}
.hovereffects1 .overlay1{
	width: 100%;
	height: 95%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	opacity: 0;
	background-color: rgba(0,0,0,0.5);
	-webkit-transition:all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.hovereffects1 img{
	width: 100%;
	height: 300px;
	display: block;
	position: relative;
	-webkit-transition: all .4s linear;
	transition: all .4s linear;
}
.hovereffects1 h2,
.hovereffects1 i{
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 17px;
	background: rgba(0,0,0,0.6);
	-webkit-transform: translateY(-100px);
	-ms-transform: translateY(-100px);
	transform: translateY(-100px);
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	padding: 10px;
}
.hovereffects1:hover img{
	width: 100%;
	height: 271px;
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.hovereffects1:hover .overlay1{
	opacity: 1;
	filter: alpha(opacity=100);
}
.hovereffects1:hover h2,
.hovereffects1:hover i{
	opacity: 1px;
	margin-top: 100px;
	filter: alpha(opacity=100);
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hovereffects1:hover{
	-webkit-transition-delay: .2s;
	transition-delay: .2s;
}
@media(max-width: 991px){
	.resto{
	margin-top: -150px;
	color: white;
	font-family: fantasy;
	font-size: 50px;
	margin-left: 50px;
  }
  .resto1{
	height: 750px;
  }
  .squre1{
	width: 150px;
	height: 150px;
	margin-top:-50px;
	margin-left: 20px; 
	background: transparent;
	border: 2px solid #fff;
	border-radius: 50%;
  }
  .squre1 p{
	color: #fff;
	font-size: 20px;
	margin: 20px 30px;
  }
  .icon3{
	color: #fff;
	margin-left: 59px;
	margin-top: -20px;
  }
  .squre2{
	width: 200px ;
	height: 200px;
	background: #fff;
	margin-top: -150px;
	margin-left: 200px;
  }
  .squre2 i{
	opacity: 0;
  }
  .squre2 p{
	color: black;
	font-size: 12px;
	margin-top: 15px;
  }
}

/* Where to Live Page */
.hotels{
	margin-top: -200px;
	color: white;
	font-family: fantasy;
	font-size: 100px;
	margin-left: 100px;
}
.hotels1{
	width: 100%;
	height: 500px;
	background: #2E8B57;
}
.hotels1 p{
	margin: 20px 100px 100px;
	color: #fff;
	text-align: left;
	font-weight: bold;
}
.search_box1{
	background: black;
	width: 300px;
	height: 350px;
	margin-left: 900px;
	margin-top: -400px;
}
.search_box1 p{
	color: #fff;
	margin-left: 40px;
}
.search_box2{
	height: 150px;
	background: #fff;
	margin-left: 10%;
	margin-right: 10%;
}
.hotelA{
	width: 80%;
	height: 220px;
	background: #fff;
	border: 1px solid lightgrey;
	margin: 1%;
	margin-left: 10%;
}
.hotelA:hover{
	box-shadow: 0 0 20px rgba(0,0,0,.5);
}
.container10{
	margin-top:65px; 
}
.checked{
	color: #ed9121;
}
.hotelA .row .ad{
	margin-top: 70px;
}
@media(max-width: 991px){
	.hotelA{
		height: 650px;
	}
	.container10{
		margin-top: -10px;
		margin-left: 10px;
	}
	.hotelA .row .ad{
		margin-left: 10px;
		margin-top: 5px;
	}
	.hotels1{
	height: 1200px;
    }
	.search_box1{
	margin-left: 100px;
	margin-top: -70px;
   }
}
/* Places to Visit page */
.plcs{
	margin-top: -200px;
	color: white;
	font-family: fantasy;
	font-size: 100px;
	margin-left: 100px;
}
.plcs1{
	width: 100%;
	height: 200px;
	background: black;
	opacity: 90%;
}
.plcs1 p{
	margin: 20px 100px 100px;
	color: #fff;
	text-align: left;
	font-weight: bold;
}
.hline1{
	text-align: center;
	width: 100%;
	color: #000000;
	opacity: 80%;
	font-size: 22px;
	margin-top: 15px;
	font-weight: bold;
}
.mr{
	align-items: center;
}
.mr h1{
	margin: 50px;
	color: #3CB371;
	font-weight: bold;
	margin-left: 65px;
}
.mr p{
	font-size: 20px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
.mr img{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	height: 300px;
}
.mr1 img{
	height: 800px;
	width: 100%;
}
 marquee h1{
	font-size: 48px;
	color: #3CB371;
	margin-top: 20px;
}
.eventexplore h1{
    text-align: center;
    margin: 30px;
    color: #3CB371;
    font-size: 48px;
}
.eventexplore h3{
	text-align: center;
}
.eventexplore p{
	text-align: center;
	font-size: 24px;
}
.eventexplore a{
	text-decoration: none;
	font-size: 20px;
    color: #3CB371;
    margin: 20px;
    margin-left: 600px;
}
.eventexplore a:hover{
	color: #3CB371;
}
.lg{
	margin-left: 570px;
	margin-bottom: 20px;
}
.site{
	width: 100%;
	height: 100px; 
}
.site1{
	width: 80%;
	background: lightgray;
	height: 50px;
	margin: 10%;
}
.site1 a{
	text-decoration: none;
	color: #3CB371;
	font-size: 30px;
	margin-left: 400px;
}
.site1 a:hover{
	color: black;
}
@media(max-width: 991px){
	.plcs{
	margin-top: -150px;
	font-size: 50px;
	margin-left: 50px;
    }
    .plcs1{
	height: 300px;
    }
    .mr1 img{
    	display: none;
    }
    .eventexplore a{
    margin-left: 180px;
   }
   .site1 a{
   	margin-left: 40px;
   	font-size: 22px;
   }
   .lg{
   	margin-left: 140px;
   }
}